{{!-- Navigation Bar --}}
<nav>
	<div class='container'>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo">justgo</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="/">Logout</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="/">Logout</a></li>
	      </ul>
	    </div>
	 </div>
  </nav>
<br>
<br>
<br>

<body>
	<div class="container">
		<div class="row" style="text-align:center">
			<h2 id="formTitle">create an account</h2>
		</div>
		<div class='card-panel'>
		  	<div class="row">
		    	<form class="col s12" id = 'personalInfoForm' action='/signup' method='post'>
		      		<div class="row">
		        		<div class="input-field col s6">
		          			<i class="material-icons prefix signupFormIcon">account_circle</i>
		          			<input id="first_name" name="firstName" type="text" class="validate">
		          			<label for="first_name">First Name</label>
		        		</div>
			        	<div class="input-field col s6">
			          		<i class="material-icons prefix signupFormIcon">perm_identity</i>
			          		<input id="last_name" name="lastName" type="text" class="validate">
			          		<label for="last_name">Last Name</label>
			        		</div>
			      		</div>
		      		<div class="row">
		        		<div class="input-field col s6">
		          			<i class="material-icons prefix signupFormIcon">email</i>
		          			<input id="email" name="email" type="email" class="validate">
		          			<label for="email">Email</label>
		        		</div>
		        		<div class="input-field col s6">
          					<i class="material-icons prefix signupFormIcon">phone</i>
          					<input id="telephone" name='phone' type="tel" class="validate">
          					<label for="telephone">Telephone</label>
        				</div>
		      		</div>
		      		<div class="row">
		        		<div class="input-field col s12">
		          			<i class="material-icons prefix signupFormIcon">lock_outline</i>
		          			<input id="password" name="password" type="password" class="validate">
		          			<label for="password">Password</label>
		        		</div>
		      		</div>
		      		<!-- <div class="row">
		        		<div class="input-field col s12">
		          			<i class="material-icons prefix signupFormIcon">lock_outline</i>
		          			<input id="confirmPassword" name='confirmPassword' type="password" class="validate error">
		          			<div class='errorText1'>
		          				<div id='confirmPasswordError' class='error'>Please enter the same password as above.</div>
		          			</div>
		          			<label for="confirmPassword">Re-Enter Password</label>
		        		</div>
		      		</div> -->
		      		<div class = "row" style="text-align:center">
			   			<button class="btn waves-effect waves-light" id="formSubmit" type="submit" name="action">Submit
	    					<i class="material-icons right">send</i>
	  					</button>
	  		  		</div>
		    	</form>
		  	</div>
		</div>  
	</div>
</body>